*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: #36768c;
    font-family: 'roboto',sans-serif;
    /* for the card to be in the center */
    display: flex;
    /* controls the centering from the x axis */
    justify-content: center;
    /* controls centering from the y axis */
    align-items: center;

}

.card{
    width: 420px;
    height: 600px;
    border-radius: 20px;
    /* to corb large images */
    overflow: hidden; 
    border: 8px solid #ffffff;
    position: relative;
}

.card-img{
    width: 100%;
    height: 100%;
    /* removes stretching from an image */
    object-fit:cover;
    border-radius: 15px;
}

.card-body{
   width: 100%;
   height: 100%;
   top: 0;
   right: -100%;
   position: absolute;
   /* chose a transparent blue color */
   background: #1f3d473f;
   /* blurs background */
   backdrop-filter: blur(5px);
   border-radius: 15px;
   color: #fff;
   /* to make the text less aligned to the border */
   padding: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   transition: 2s;


}

.card:hover .card-body{
right: 0;
}

.card-title{
/* headings are uppercase */
text-transform: uppercase;
font-size: 40px;
font-weight:500;
}

.card-sub-title{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;
}

.card-info{
    font-size: 16px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 420;
}

.card-btn {
    color: #1f3d47;
    background: #8fabba;
    padding: 10px 8px;
    width: 180px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: 500;
  }

#music{
    color: #1f3d47;
    background: #1f3d473f;
    padding: 10px 1px;
    width: 60%;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: 500;
    cursor:pointer;
}